.container {
    
    
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 1fr 4fr 3fr;
    grid-gap: 1rem;
}

body {
    background-color: #11207294;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageTitle {
    background-color: #0f31ca67;
    border-radius: 8px;
    font-size: 20px;
    color: rgb(250, 226, 8);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
     
}

.bank {
    border-radius: 8px;
    background-color: #0f31ca67;
    color: rgb(250, 226, 8);
    display: grid;
    grid-column: 1; grid-row: 2;
    text-align: center;
}

.work {
    border-radius: 8px;
    background-color: #0f31ca67;
    color: rgb(250, 226, 8);
    grid-column: 2; grid-row: 2;
    text-align: center;
}

.laptops {
    border-radius: 8px;
    background-color: #0f31ca67;
    color: rgb(250, 226, 8);
    grid-column: 3; grid-row: 2;
    text-align: center;
    max-width: 350px;
    min-width: 350px;
    max-height: 370px;
    min-height: 370px;
}

.description {
    border-radius: 8px;
    background-color: #0f31ca67;
    color: rgb(250, 226, 8);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;  
}

#bankTitle{
    font-size: 25px;
    text-align: left;
    padding-left: 30px;
}

#workTitle{
    font-size: 25px;
    text-align: left;
    padding-left: 30px;
}

#laptopsTitle{
    font-size: 25px;
    text-align: left;
    padding-left: 30px;
}

#getLoanButton {
    width: 150px;
    height: 30px;
    padding: px 8px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #4977da;
    color: rgb(250, 226, 8);
    margin: 0 auto;
    display: block;
}

#repayLoanButton {
    width: 150px;
    height: 30px;
    padding: px 8px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #4977da;
    color: rgb(250, 226, 8);
    text-align: center;
    margin-bottom: 50px;
}

#bankButton {
    width: 130px;
    height: 30px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #4977da;
    color: rgb(250, 226, 8);
    float: left;
    margin-top: 30px;
    margin-left: 30px; 
}

#workButton {
    width: 130px;
    height: 30px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #4977da;
    color: rgb(250, 226, 8);
    align-items: right;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

#buyButton {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #4977da;
    color: rgb(250, 226, 8);
    margin-top: 150px;
    margin-left: 525px;
    display: inline-block;
    position: absolute;
}


#balanceText {
    font-size:18px;
    float:left;
    padding-top:8px;
    padding-left: 30px;
    
}

#balanceVal {
    font-size:18px;
    float:right;
    padding-top:8px; 
    padding-right: 30px;
}

#loanText {
    font-size:18px;
    float:left;
    padding-top:8px;
    padding-left: 30px;
    
}

#loanVal {
    font-size:18px;
    float:right;
    padding-top:8px; 
    padding-right: 30px;
}

#payText {
    font-size:18px;
    float:left;
    padding-top:8px;
    padding-left: 30px;
    
}

#payVal {
    font-size:18px;
    float:right;
    padding-top:8px; 
    padding-right: 30px;
}

#laptopList {
    border-radius: 5px;
    text-align: left;
    display: flex;
    align-items: left;
    margin-top: 0px;
    margin-left: 30px;
    font-size: 16px;
}

#featuresHeader {
    font-size:18px;
    text-align: left;
    padding-top:0px; 
    padding-left: 30px;
}

#features {
    font-size:12px;
    text-align: left;
    padding-top:0px; 
    padding-right: 30px;
}

#image {
    text-align: left;
    padding-top: 40px;
    padding-left: 20px;
    height: 200px;
    width: 300px;
    display: inline;
}

#descriptionHeader {
    font-size:35px;
    padding-left: 100px;
    position: absolute;
    display: inline-block;
}

#description {
    font-size:12px;
    padding-left: 100px;
    padding-top: 85px;
    position: absolute;
    display: inline-block;
}

#price {
    font-size: 25px;
    padding-top: 30px; 
    padding-left: 560px;
    position: absolute;
    display: inline-block;
}

.br {margin-bottom: 10em}

.hidden {
    display: none;
}
.show {
   display: inline;
}
